body {
    margin: 0;
    height: 100vh;
    display: flex;
  }

  .purple-half {
    width: 50%;
    height: 100%;
    background-image: url('../img/PurpleBG.jpg');
    background-size: cover;
    background-position: center;
  }

  .right-half {
    width: 50%;
    height: 100%;
    background: white;
  }
  .logo-button {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #030650;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}
    .logo-button:hover {
        background-color: black;
    }
    .staffbutton {
        font-size: 12px;
        cursor: pointer;
        color: rgb(144, 144, 144);
    }
    .staffbutton:hover {
        color: black;
    }
    .Back-button,
    .Next-button {
      margin-bottom: 5%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white; /* default */
      border: 2px solid gray;  /* default */
      border-radius: 8px;
      color: black;            /* default */
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s;
      text-decoration: none;
      height: 50px;
      width: 100%;
      padding: 12px 32px;
      box-sizing: border-box;
    }

    .Back-button:hover {
      background-color: gray;
      border-color: black;
    }

    .Next-button {
      background-color: #7E2CBA;
      border-color: #7E2CBA;
      color: white;
    }

    .Next-button:hover {
      background-color: black;
      border-color: black;
    }

    @keyframes flicker {
      0% { opacity: 1;}
      50% { opacity: 0.5;}
      100% { opacity: 1;}
    }

    .flicker-image {
      animation: flicker 2.5s infinite;
    }